nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

nav button {
    background-color: #fff;
    border: none;
    color: purple;
}

.prompt {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 10vh;
}

button {
    background-color: purple;
    color: white;
    padding: 5px;
    border-radius: 8px;
}